{% if field.use_fieldset %}
    <fieldset class="fieldset">
    {% if field.label %}{{ field.legend_tag }}{% endif %}
{% else %}
    <div class="fieldset">
    <label for="{{ field.id_for_label }}" class="fieldset-legend">
        {{ field.label }}
        {% if field.field.required %}<span aria-hidden="true" class="text-red-600">*</span>{% endif %}
    </label>
{% endif %}

{{ field }}

{% if field.help_text and not field.errors %}
    <div id="{{ field.auto_id }}_helptext"
         class="fieldset-label flex-col items-start [&_ul]:list-disc [&_ul]:pl-5 [&_ul]:space-y-1">{{ field.help_text|safe }}</div>
{% endif %}

{{ field.errors }}

{% if field.use_fieldset %}</fieldset>{% else %}</div>{% endif %}
