# The database URL
# Will be used to set the default database
DATABASE_URL=postgresql://fcacp:super-secure-password@127.0.0.1:5432/fcacp

# Background jobs
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# ClamAV daemon
CLAMAV_HOST=127.0.0.1
CLAMAV_PORT=3310
CLAMAV_TIMEOUT=60
