# The secret key used for signing sessions and tokens
SECRET_KEY=django-insecure-ibsjbhz&kkkot0b751u1*wjo@2pn9cpd&=y!ou0f!e_csxs&1x

# The hosts to allow access from
# https://docs.djangoproject.com/en/6.0/ref/settings/#std-setting-ALLOWED_HOSTS
ALLOWED_HOSTS=localhost,127.0.0.1

# The database URL
# Will be used to set the default database
DATABASE_URL=postgresql://fcacp:super-secure-password@127.0.0.1:5432/fcacp

## Mailer configuration via SMTP
# The From email
SMTP__FROM_EMAIL=no-reply@fcacp.local
# The IP address and port of the server
SMTP__HOST=127.0.0.1
SMTP__PORT=1025
# The username and password to authenticate with
SMTP__USERNAME=fcacp
SMTP__PASSWORD=super-secure-password
# What type of security to use for the connection
# Options: smtps, starttls, none
SMTP__SECURITY=none
# The connection timeout in seconds (default: infinite)
#SMTP_TIMEOUT=30

# Background jobs
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# ClamAV daemon
CLAMAV_HOST=127.0.0.1
CLAMAV_PORT=3310
CLAMAV_TIMEOUT=60

### Storage
# There are currently two different storage backends:
#  - local: stores files in a local directory, only suitable for development
#  - s3: stores files in an S3-compatbile object storage
## Local storage
STORAGE__TYPE=local
# The path where files should be stored
STORAGE__PATH=./private-media
## S3 storage
#STORAGE__TYPE=s3
# The details for accessing the bucket
#STORAGE__BUCKET=thefoodcharity-dev
#STORAGE__REGION=internal
# Credentials, if needed
#STORAGE__ACCESS_KEY_ID=gk-dev-access-key
#STORAGE__SECRET_ACCESS_KEY=dev-secret-access-key
# Server connection details if not using AWS
#STORAGE__PROTOCOL=http
#STORAGE__ENDPOINT=127.0.0.1:3900
