# The database URL
# Will be used to set the default database
DATABASE_URL=postgresql://fcacp:super-secure-password@127.0.0.1:5432/fcacp

## Mailer configuration via SMTP
# The IP address and port of the server
SMTP__HOST=127.0.0.1
SMTP__PORT=1025
# The username and password to authenticate with
SMTP__USERNAME=fcacp
SMTP__PASSWORD=super-secure-password
# What type of security to use for the connection
# Options: smtps, starttls, none
SMTP__SECURITY=none
# The connection timeout in seconds (default: infinite)
#SMTP_TIMEOUT=30

# Background jobs
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# ClamAV daemon
CLAMAV_HOST=127.0.0.1
CLAMAV_PORT=3310
CLAMAV_TIMEOUT=60
