{% load themed_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="fieldset">
        {% if field|is_checkbox %}
            <label class="label cursor-pointer gap-3" for="{{ field.id_for_label }}">
                {% themed_field field %}
                {% if form_show_labels and field.label %}
                    <span class="grow text-base font-semibold !text-slate-950">
                    {{ field.label }}
                        {% if field.field.required %}<span aria-hidden="true" class="text-error">*</span>{% endif %}
                </span>
                {% endif %}
            </label>
        {% elif field|is_radioselect %}
            {% include "fcacp/layout/label.html" with tag="span" %}
            {% include "fcacp/layout/radioselect.html" %}
        {% else %}
            {% include "fcacp/layout/label.html" with tag="label" %}
            {% themed_field field %}
        {% endif %}

        {% include "fcacp/layout/help_text_and_errors.html" %}
    </div>
{% endif %}
