{% extends "base.html" %}

{% block content %}
    <h1>Your Organizations</h1>

    <div>
        <a class="btn btn-soft btn-primary" href="">Join</a>
        <a class="btn btn-soft btn-primary" href="{% url 'organizations:apply' %}">Apply</a>
    </div>

    <ul class="list-disc pl-5">
        {% for organization in organization_list %}
            <li>
                {# TODO(alex): add link to organization dashboard #}
                <a class="link link-primary link-hover"
                   href="{% if organization.is_approved %}TODO{% else %}{% url 'organizations:application' organization.pk %}{% endif %}">
                    {{ organization.name }} ({{ organization.get_status_display }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
