{% extends "base.html" %}

{% block content %}
    <h1>Your Organizations</h1>
    <ul>
        {% for organization in organization_list %}
            <li>
                {# TODO(alex): add link to organization dashboard #}
                <a href="{% if organization.is_approved %}TODO{% else %}{% url 'organizations:application' organization.pk %}{% endif %}">
                    {{ organization.name }} ({{ organization.get_status_display }})
                </a>
            </li>
        {% empty %}
            {# TODO(alex): add link to join page #}
            <li><a href="">Join</a></li>
            <li><a href="{% url 'organizations:apply' %}">Apply</a></li>
        {% endfor %}
    </ul>
{% endblock %}
