{% extends "organizations/settings/base.html" %}

{% block card_title %}Pending Invitations{% endblock %}
{% block card_subtitle %}Manage invitations to your organization{% endblock %}

{% block card_header_actions %}
    <a class="btn btn-primary" hx-get="{% url 'organizations:invitations_create' %}"
       hx-target="#invite-section">Invite</a>
{% endblock %}

{% block card_body %}
    <div id="invite-section"></div>
    <table class="mt-6 table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Invited By</th>
            <th>Sent at</th>
            <th><span class="sr-only">Actions</span></th>
        </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.email }}</td>
                <td>
                    <a class="link link-primary link-hover"
                       href="{% url 'organizations:member' invitation.invited_by.pk %}">
                        {{ invitation.invited_by.get_full_name }}
                    </a>
                </td>
                <td>{{ invitation.created }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-error btn-ghost"
                            hx-post="{% url 'organizations:invitations_remove' invitation.pk %}"
                            hx-confirm="Are you sure?">
                        Rescind
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
