{% load crispy_forms_filters l10n %}

{% for group, options, index in field|optgroups %}
    {% if group %}<strong>{{ group }}</strong>{% endif %}
    {% for option in options %}
        <label class="label cursor-pointer gap-3 font-semibold text-slate-950" for="{{ option.attrs.id }}">
            <input type="radio"
                   class="radio radio-primary"
                   name="{{ option.name }}"
                   value="{{ option.value|unlocalize }}"
                   id="{{ option.attrs.id }}"
                   {% if option.selected %}checked{% endif %}
                   {% if option.attrs.required %}required{% endif %}>
            {{ option.label|unlocalize }}
        </label>
    {% endfor %}
{% endfor %}
