{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Sign in to your account{% endblock %}

{% block page_content %}
    <form method="post" class="flex flex-col gap-2">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary w-full mt-2">Sign in</button>
    </form>
    <p class="mt-4 text-center text-sm text-base-content/60">
        Don't have an account?
        <a href="{% url 'accounts:register' %}" class="link link-primary font-semibold">Sign up</a>
    </p>
{% endblock %}
