{% extends "base_standalone.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Change Password{% endblock %}
{% block page_subtitle %}Update your account's password{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {% crispy form %}

        <div class="flex justify-center gap-2 mt-4">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
{% endblock %}

{% block page_actions %}
    <a href="{% url 'accounts:profile' %}" class="btn btn-outline btn-sm">
        <span class="material-symbols-rounded">arrow_back</span>
        Back
    </a>
{% endblock %}
