@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
@import "tailwindcss";
@plugin "daisyui" {
    themes: fcacp --default;
}
@plugin "daisyui/theme" {
  name: "fcacp";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: #557DFA;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #819CFA;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #557DFA;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: #557DFA;
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

.material-symbols-outlined,
.material-symbols-rounded {
  font-size: inherit;
  line-height: 1;
}
